[submodule "libbarobo"]
	path = libbarobo
	url = git@github.com:Barobo/libbarobo.git
[submodule "BaroboLink"]
	path = BaroboLink
	url = git@github.com:Barobo/BaroboLink.git
[submodule "libsfp"]
	path = libsfp
	url = git@github.com:Barobo/libsfp.git
[submodule "BaroboLabHack"]
	path = BaroboLabHack
	url = git@github.com:Barobo/BaroboLabHack.git
[submodule "QtBaroboLink"]
	path = QtBaroboLink
	url = git@github.com:Barobo/QtBaroboLink.git
